useDynLib(BayesLCA)

import(e1071)
import(coda)
importFrom(label.switching, ecr)
importFrom(MCMCpack, rdirichlet, ddirichlet)
importFrom(fields, image.plot)
importFrom(nlme, fdHess)
importFrom(numDeriv, hessian)
importFrom(grDevices, devAskNewPage, heat.colors, rainbow)
importFrom(graphics, par, abline, axis, lines, matplot, mosaicplot, mtext, plot, plot.new, plot.window, rect )
importFrom(stats, na.omit, dbeta, dbinom, dpois, density, rbeta, rmultinom, rbinom, runif, sd, var, weighted.mean)
importFrom(MASS, ginv)

S3method(as.mcmc, blca.gibbs)
S3method(print, blca)
S3method(plot, blca.multicat)
S3method(plot, blca)
S3method(print, summary.blca)
S3method(summary, blca.em)
S3method(summary, blca.vb)
S3method(summary, blca.boot)
S3method(summary, blca.gibbs)
S3method(summary, blca.collapsed)
S3method(summary, blca)
S3method(predict, blca)

export( blca )
export( blca.boot )
export( blca.em )
export( blca.gibbs )
export( blca.vb )
export( blca.collapsed )
export( data.blca )
export( MAP )
export( rlca )
export( unMAP )
export( Zscore )



